.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 366px;
}

.cell {
  border: 1px solid #03a9f4;
  width: 120px;
  height: 120px;
}

.player {
  flex: 1;
  border: 1px solid #3f51b5;
  border-radius: 4px;
  height: 60px;
  line-height: 60px;
  padding-left: 6px;
}

.player.active {
  background: #ff9800;
}

.player + .player {
  margin-left: 6px;
}

.status {
  display: flex;
  width: 366px;
  margin-bottom: 6px;
}
